$sidebar-width: 350px;
$offset-top: 60px;

$color-lightest: #FEFEFE;
$color-lighter: #FAFAFA;
$color-light: #DADADA;
$color-gray: #BABACA;
$color-dark: #333333;
$color-darkest: #030303;
$color-darker: #0D0D0D;
$color-primary: #E7744E;

a {
    color: $color-primary;
}

#masthead {
    z-index: -1;
    background-color: $color-primary;
    color: $color-lightest;

    .branding {

        .branding-heading a .logo  {
            filter: invert(100%) brightness(100%);
        }

        .branding-label a {
            color: white;
        }
    }

    .user-tools {
        display: none;
    }
}

#main-search-page {

    .main-item {

        .featured-cat {

            .cat-container {
                padding-right: 20px;

                // Adjust font sizes
                h3 {
                    color: #130313;
                    font-size: 1.3em;
                    border-bottom: 1px solid #CACACA;
                }
                ul > li {
                    font-size: 1.2em;
                }
            }
        }
    }

    // Hide bottom "contact us" text
    .main-item--bottom {
        display: none;
    }
}
